<p>
  <b>Title:</b>
  <%=h @source.title %>
</p>

<p>
  <b>Location:</b>
  <%=h @source.location %>
</p>

<p>
  <b>Doctype:</b>
  <%=h @source.doctype %>
</p>


<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>