<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Charting: <%= controller_name %></title>
  <%= stylesheet_link_tag 'charting' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>


<div id ="page">

  <div id = "header">
    <a href="/"><div id = "logo"></div></a>
    <%= render :partial => 'layouts/login' %>
  </div><!-- end header -->

  <div id="main">

  <div id="left">
    <div id="goalmenu">
      <!--h2><%=link_to "Charting", root_path%></h2-->
      <% if @current_user %>

      <ul>

        <% if controller_name == "goals" && action_name == "index" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "My Goals", "/goals", :class => 'lih3'%>
        </li>

      <% for goal in @all_goals %>
        <% if goal == @current_goal %>
          <li class="active-goal">
        <% else %>
          <li>
        <%end%>
        <%=link_to goal.name, goal_notes_path(goal) + "/"%>
        </li>
        <% end %>

        <li>
        <% form_for Goal.new, :html => {:id => "new_goal_form"} do |f| %>
          <%= f.text_field :name,
                           :size => 34,
                           :id => 'new_goal_field',
                           :value => 'new goal',
                           :onFocus => 'if (this.value == "new goal") {this.value = "";};',
                           :onBlur => 'if (this.value == "") {this.value = "new goal";};' %>
        <% end %>
        </li>

        <% if controller_name == "goals" && action_name == "all_goals" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "All goals", all_goals_path, :class => 'lih3'%>
        </li>

        <hr class="menu"></hr>
  
        <% if controller_name == "notes" && action_name == "my_notes" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "My Notes", my_notes_path, :class => 'lih3' %>
          </li>

        <% if controller_name == "notes" && action_name == "inbox" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %> &nbsp;&nbsp;
        <%=link_to "Inbox", inbox_path, :class => 'lih4' %>
          </li>

        <% if controller_name == "notes" && action_name == "all_notes" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "All Notes", all_notes_path, :class => 'lih3' %>
          </li>

        <hr class="menu"></hr>

        <% if controller_name == "sources" && action_name == "my_sources" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "My Sources", my_sources_path, :class => 'lih3' %>
          </li>

        <% if controller_name == "sources" && action_name == "inbox"%>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>&nbsp;
        <%=link_to "Unattributed Sources", inbox_sources_path, :class => 'lih4' %>
          </li>

        <% if controller_name == "sources" && action_name == "all_sources" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "All Sources", all_sources_path, :class => 'lih3' %>
          </li>

      <hr class="menu"></hr>

        <% if controller_name == "users" %>
          <li class="active-heading">
        <% else %>
          <li>
        <% end %>
        <%=link_to "People", users_path, :class => 'lih3' %>
          </li>

        <hr class="menu"></hr>

      </ul>
 
      <% else %>
        <h4>Please log in.</h4>
      <% end %>
    </div>
  </div><!-- end left -->

  <div id="right">
    <div id="content">
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= flash[:error] %></p>

      <%= yield %>
    </div><!-- end content -->
  </div><!-- end right -->
  </div><!-- end main -->
</div><!-- end page -->

</body>
</html>
