<div id="login">
<% if @current_user %>
  Hello <%=link_to @current_user.name, @current_user%>.<br/><%= link_to "logout", logout_users_path %> | <%= link_to "edit profile", edit_user_path(@current_user) %>
<% else %>
  <%= form_for :login, :url => {:controller => :users, :action => :login} do |f| %>
  <div id="login-right">
  <table class="loginsignup">
   <tr>
    <td>
    <%= f.text_field :username, :size => 15 %>
    <%= f.password_field :password, :size => 15 %>
    </td>
    <td>
    <%= f.submit :login, :class => 'whitebutton left' %>
    </td>
    <td>
    &nbsp;or <%= link_to "sign up", new_user_path%>
    </td>
   </tr>
  </table>
  </div>
  <% end %>
<% end  %>
</div>
