<h1><%=h @current_goal ? @current_goal.name : "All"%> notes</h1>

<table>
  <tr>
    <th>Note</th>
    <th>Source</th>
    <th>Creator</th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td id="note-body-<%=note.id%>" class="note-body">
      <%=link_to_remote note.truncated_body, 
                        :update => "note-body-#{note.id}", 
                        :url => {:action => "full_body", 
                        :id => note.id} %>
    </td>
    <td><%=link_to note.source, note.source %></td>
    <td><%=h note.user %></td>
    <% if @current_user == note.user %>
      <td><%= link_to 'Remove', note, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @current_goal %>
  <%= link_to 'Adopt this goal', adopt_goal_path(@current_goal) %>
<% end %>

<br />

