<div id="testing"></div>

<table class="no-borders">

  <tr>
    <td><b><%=link_to @current_goal.name, goal_notes_path(@current_goal) %></b></td>
    <td>
      <% if @current_user == @current_goal.admin %>
      <div id="actions"><%= link_to 'Edit Goal', edit_goal_path(@current_goal) %> |
        <%= link_to 'Remove Goal', @current_goal, :confirm => 'Are you sure?', :method => :delete %>
      </div>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Owned by:
      <% if @current_user == @current_goal.admin %>
        <%= link_to "You", user_path(@current_user) %>
      <% else %>
        <%= link_to @current_goal.admin.name, user_path(@current_goal.admin) %>
      <% end %>
    </td>
    <td>Subscribers:
      <% if @current_goal.subscribers.blank? %>
      none
      <% else %>
       <% @current_goal.subscribers.each do |sub| %>
       <%= link_to sub.name, user_path(sub) %>&nbsp;
       <% end %>
     <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="spacer"></td>
  </tr>
</table>

<table class="no-borders">
  <tr>
    <td width="20px"></td>
    <td>
<table class="no-borders">

<% @notes.each do |note| %>  
  
  <tr>
    <td class="subheading">

       <% if !note.body.blank? %>
          <%=h note.body %>
       <% else %>
          Note
       <% end %>

    </td>

    <td width="150px">
      <% if @current_user == note.user %>
      <div id="actions">
        <%= link_to 'Edit Note', edit_note_path(note) %> |
        <%= link_to 'Remove Note', note, :confirm => 'Are you sure?', :method => :delete %>
      </div>
      <% end %>
    </td>

  </tr>






  <tr>

    <td>


      <% if note.source %>
        <%= link_to note.source, note.source.location, :class => 'source-link', :target => '_blank' %>
      <% else %>
        No source.
      <% end %>

   </td>

    <td>
      <% if @current_user == note.user %>
        <% if note.source %>
        <div id="actions"><%= link_to 'Edit Source', edit_source_path(note.source) %> |
          <%= link_to 'Remove Source', note.source, :confirm => 'Are you sure?', :method => :delete %>
        </div>
        <% end %>
      <% end %>
    </td>


 </tr>

 <tr>

   <td colspan = "2">
   Contributed by:
   <% if @current_user == note.user %>
      <%= link_to "You", user_path(@current_user) %>
   <% else %>
      <%= link_to note.user.name, user_path(note.user) %>
   <% end %>

   </td>

 </tr>

   <tr>
    <td>
    <div id="actions">
       <%= link_to_remote 'View Comments',
          :method => 'get',
          :after => "Element.toggle('note-comment-#{note.id}')" %>
    </div>
    </td>

  </tr>


  <tr>
    <td>

    <div id ="note-comment-<%=note.id%>" style="display:none">
    <table class="comments">
    <tbody id="comments-<%=note.id%>">
    <% @comments = Note.find_all_by_parent_id note.id %>
    <% @comments.each do |comment| %>

      <tr>
        <td colspan ="3"><%=h comment.user %>: <%=h comment.body %></td>
        <td align="right" width="120px">
          <%= link_to_remote 'Promote', :url => {:action => 'promote', :id => comment.id, :major => 't', :goal_id => @current_goal.id, :source_id => note.source.id} %> |
          <%= link_to_remote 'View Comments',
          :method => 'get',
          :after => "Element.toggle('note-sub-comment-#{comment.id}')" %>
        </td>
      </tr>

      <!-- start subcomments row -->
      <tr id="note-sub-comment-<%=comment.id%>" style="display:none;">

        <!-- subcomments content -->
        <td colspan="4" class="container">

          <!-- subcomments table -->
          <table class="comments">
            <tbody id="subcomments-<%=comment.id%>">
          <% @subcomments = Note.find_all_by_parent_id comment.id %>
          <% @subcomments.each do |subcomment| %>
            <tr>
              <td class="blank"></td>
              <td colspan = "3"><%=h subcomment.user %>: <%=h subcomment.body %></td>
              <td align="right" width="120px">
              <%= link_to_remote 'Promote', :url => {:action => 'promote', :id => subcomment.id, :major => 't', :goal_id => @current_goal.id, :source_id => note.source.id} %> |
              <%= link_to_remote 'View Comments',
                :method => 'get',
                :after => "Element.toggle('note-sub-sub-comment-#{subcomment.id}')" %>
              </td>

            </tr>


            <!-- start subsubcomments row -->
            <tr id="note-sub-sub-comment-<%=subcomment.id%>" style="display:none;">

              <!-- subsubcomments content -->
              <td colspan="5" class="container">

                <!-- subsubcomments table -->
                <table class="comments">
                  <tbody id="subsubcomments-<%=subcomment.id%>">
                  <% @subsubcomments = Note.find_all_by_parent_id subcomment.id %>
                  <% @subsubcomments.each do |subsubcomment| %>
                  <tr>
                    <td class="blank"></td>
                    <td class="blank"></td>
                    <td colspan = "2"><%=h subsubcomment.user %>: <%=h subsubcomment.body %></td>
                    <td align="right" width="120px">
                    <%= link_to_remote 'Promote', :url => {:action => 'promote', :id => subsubcomment.id, :major => 't', :goal_id => @current_goal.id, :source_id => note.source.id} %>
              </td>

            </tr>

                <% end %>

                  <tr id="note-new-sub-sub-comment-<%=subcomment.id%>">
                    <td class="blank"></td>
                    <td class="blank"></td>
                    <td colspan="2">

                    <% remote_form_for Note.new, :html => {:id => "new_sub_sub_comment_form"},
                                                 :url => {:controller => "notes", :action => "add_sub_sub_comment"} do |f| %>
                    <%= f.text_field :body,
                               :size => '100%',
                               :id => 'new_comment_field',
                               :value => 'Write a comment...',
                               :onFocus => 'if (this.value == "Write a comment...") {this.value = "";};',
                               :onBlur => 'if (this.value == "") {this.value = "Write a comment...";};' %>

                    <%= f.hidden_field :parent_id, :value => subcomment.id %>
                    <%= f.hidden_field :major, :value => 'f' %>
                    <%= f.hidden_field :user_id, :value => @current_user.id %>
                    <%= hidden_field_tag :source_id, note.source.id %>
                    <%= hidden_field_tag :goal_id, @current_goal.id %>

                    <% end %>

                    </td>
                  </tr>
                 </tbody>
                </table> <!-- end subsub comments table -->


              </td> <!-- end subsubcomments content -->

            </tr> <!-- end subsubcomments row -->


          <% end %>


            <tr id="note-new-sub-comment-<%=comment.id%>">
              <td class="blank"></td>
              <td colspan="3">

              <% remote_form_for Note.new, :html => {:id => "new_sub_comment_form"},
                                           :url => {:controller => "notes", :action => "add_sub_comment"} do |f| %>
              <%= f.text_field :body,
                               :size => '100%',
                               :id => 'new_comment_field',
                               :value => 'Write a comment...',
                               :onFocus => 'if (this.value == "Write a comment...") {this.value = "";};',
                               :onBlur => 'if (this.value == "") {this.value = "Write a comment...";};' %>

              <%= f.hidden_field :parent_id, :value => comment.id %>
              <%= f.hidden_field :major, :value => 'f' %>
              <%= f.hidden_field :user_id, :value => @current_user.id %>
              <%= hidden_field_tag :source_id, note.source.id %>
              <%= hidden_field_tag :goal_id, @current_goal.id %>

              <% end %>

              </td>
            </tr>
            </tbody>
            </table> <!-- end subcomments table -->


        </td> <!-- end subcomments content -->

      </tr> <!-- end subcomments row -->


    <% end %>

      <tr id="note-new-comment-<%=note.id%>">
        <td colspan="5">

        <% remote_form_for Note.new, :html => {:id => "new_comment_form"},
                                               :url => {:controller => "notes", :action => "add_comment"} do |f| %>
        <%= f.text_field :body,
                         :size => '100%',
                         :id => 'new_comment_field',
                         :value => 'Write a comment...',
                         :onFocus => 'if (this.value == "Write a comment...") {this.value = "";};',
                         :onBlur => 'if (this.value == "") {this.value = "Write a comment...";};' %>

        <%= f.hidden_field :parent_id, :value => note.id %>
        <%= f.hidden_field :major, :value => 'f' %>
        <%= f.hidden_field :user_id, :value => @current_user.id %>
        <%= hidden_field_tag :source_id, note.source.id %>
        <%= hidden_field_tag :goal_id, @current_goal.id %>

    <% end %>

        </td>
      </tr>

    </tbody>
    </table>
    </div>


    </td>

  </tr>


  <tr>
    <td colspan="2" class="spacer"></td>
  </tr>

<% end %>
</table>


    </td>
  </tr>
</table>